BODY
{
	padding-right: 32px;
	margin-top: 40px;
	padding-left: 32px;
	font-size: 13px;
	background: #eee;
	padding-bottom: 32px;
	width: 300px;
	color: #000;
	padding-top: 32px;
	font-family:Microsoft Yahei, helvetica, tahoma, arial, ו;
}
DIV#Main
{
	border-right: #bbb 1px solid;
	padding-right: 32px;
	border-top: #bbb 1px solid;
	padding-left: 32px;
	background: #fff;
	padding-bottom: 32px;
	margin-left: 300px;
	border-left: #bbb 1px solid;
	width: 300px;
	padding-top: 20px;
	border-bottom: #bbb 1px solid;
}
DIV#Heading
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 150%;
	padding-bottom: 15px;
	margin: 0px;
	color: #A5C760;
	padding-top: 0px;
	font-family: arial;
}
H2
{
	padding-right: 0px;
	padding-left: 0px;
	font-weight: bold;
	font-size: 105%;
	padding-bottom: 0px;
	margin: 0px 0px 8px;
	text-transform: uppercase;
	color: #999;
	padding-top: 0px;
	border-bottom: #ddd 1px solid;
	font-family:Microsoft Yahei, helvetica, tahoma, arial, ו;
}
P
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 6px;
	margin: 0px;
	padding-top: 6px;
}
A:link
{
	color: #002c99;
	text-decoration: none;
}
A:visited
{
	color: #002c99;
	text-decoration: none;
}
A:hover
{
	color: #cc0066;
	background-color: #f5f5f5;
	text-decoration: underline;
}
.MyLabel
{
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin: 6px 0px 2px;
	text-transform: uppercase;
	color: #999;
}
INPUT.Textbox
{
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 2px;
	width: 200px;
	padding-top: 2px;
	font-family:Microsoft Yahei, helvetica, tahoma, arial, ו;
}
A.Button:link
{
	border-right: #999 1px solid;
	padding-right: 12px;
	border-top: #999 1px solid;
	display: block;
	padding-left: 12px;
	font-weight: bold;
	background: #A5C760;
	float: left;
	padding-bottom: 3px;
	border-left: #999 1px solid;
	color: #fff;
	padding-top: 3px;
	border-bottom: #999 1px solid;
}
A.Button:visited
{
	border-right: #999 1px solid;
	padding-right: 12px;
	border-top: #999 1px solid;
	display: block;
	padding-left: 12px;
	font-weight: bold;
	background: #A5C760;
	float: left;
	padding-bottom: 3px;
	border-left: #999 1px solid;
	color: #fff;
	padding-top: 3px;
	border-bottom: #999 1px solid;
}
SPAN.ErrorMessage
{
	display: block;
	font-weight: bold;
	color: #A5C760;
}
P.Small
{
	margin-top: 12px;
	font-size: 85%;
}
