div {
	padding:0px;
	margin:0px;
}

body {
     scrollbar-base-color:#bae87c;
     scrollbar-arrow-color:#FFFFFF;
     scrollbar-shadow-color:#c1ea8b;
     padding:0px;
     margin:auto;
     text-align:center;
     background-color:#23262e;
     font-size:14px;
}

.site-nav-more{
    cursor: pointer;
    display: block;
    float: right;
    margin-right: 14px;
}

.bitem {
	width:100%;
	margin:0px 0px 0px 0px;
}

.bitem .dt {
    height:40px;
    line-height:40px;
    cursor:pointer;
    background: #3e424e;
    color:#ffffff;
    font-size:14px;
    padding-left: 14px;
    border-left:4px solid #3e424e;

}

.bitem .dt:hover {
    background: #4e5465;
    border-left:4px solid #009688;
}

.bitem .dd {
    background: #282b33;
    font-size:14px;
    padding-left: 14px;
    height:40px;
    line-height:40px;
    display: block;
}

.bitem .dd a{
    font-size:14px;
    color:#cccccc;
    display: block;
}

.bitem .selected{
    font-size:14px;
    background-color:#009688;
    width: 100%;
}

.bitem .selected a:hover{
    color:#ffffff;
}

.bitem .selected a{
    color:#ffffff;
}

.bitem .dd a:hover{
    color:#ffffff;
}
