@charset "utf-8";

*+html{height:auto; overflow-x:hidden;}

body {background-color: #EEF3FA;margin-left: 0px;margin-top: 0px;margin-right: 0px;margin-bottom: 0px;font-family:"Microsoft YaHei"; font-size:12px;}
a{color:#333;text-decoration: none;}
ul{margin:0; padding:0; list-style:none;}
li{list-style:none}
.cls{clear:both;}
.bodyall{ height:auto; margin-left:auto; margin-right:auto;overflow-x: hidden; }

#itop{height:60px; width:100%; margin:0px auto;background:#fff;text-align:center;}
#itop .top-menus{width:1000px;text-align:center;margin:0 auto;}
#log{float:left;}
#log a{width:182px;height:48px;line-height:48px;  display:block;}
#log a:hover{width:182px;height:48px;line-height:48px;}
#tel{float:right;border:none;margin-top:12px;}
#tel div{background: transparent;width:160px;float: left;}
#tel div a{font-size:14px;font-weight:bold;color:#8B8C8E;display: inline-block;height: 40px;line-height: 40px;}
#tel div .sep{
    padding-right/*\**/:6px\9;
	padding-left/*\**/:6px\9;
   *padding-right:12px;
}
#top-menu{
   float:left;
   margin-left:12px;
   color:#8B8B8B;
   font-size:13px;
}

#top-menu ul{
   line-height: 30px;
   margin-top:22px;
}
#top-menu ul li{
    float: left;
	margin: 0 16px 0 0;
	line-height: 30px;
}


#ibanner{max-width:2000px; height:440px; margin-left:auto; margin-right:auto; margin-top:6px; position:relative;border:none;}
.newslist{line-height:26px;height:26px;width:100%;background:url("../images/newslist-bar.png") no-repeat;position: absolute; color:#fff; top:395px; z-index:100;;filter:alpha(Opacity=60);-moz-opacity:0.6;opacity: 0.6;}
.newsa{width:1000px; margin-left:auto; margin-right:auto;}
.newsb{width:70px; float:left; line-height:26px; padding-left:26px; font-size:14px;background: url("../images/newsicox.png") no-repeat center left}
.newsd{float:left;width:390px; line-height:26px; height:24px; overflow:hidden; font-size:14px; color:#333}
.newsd ul{margin:0px; padding:0px; list-style:none;}
.newsd li{border:none;list-style:none; overflow:hidden;width:380px;}
.newsd a{text-decoration:none; line-height:26px!important; height:26px!important; color:#fff; width:100%; display:block;}
.newsd a:hover{text-decoration:underline; color:#eee;}


#four{width:100%; height:auto; background:url(../images/adbuttom_bg.png) repeat-x top left;margin-top:8px;text-align:center;height:auto !important;
height:100px;
min-height:100px;}
#four .fourlist{height:auto;width:1000px;line-height:100px; margin:0px auto; padding-top:14px; padding-bottom:14px;text-align:center;position: relative;}
#four .fourbox{text-align:center;float: left;}
#four .fourbox .img-memo{
	margin-top:-75px;
    margin-top/*\**/:-84px\9;
   *margin-top:-84px;
	margin-left:24px;
	text-align:center;
	color:#707070;
	font-size:13px;
	font-weight:bold;
    position:relative;
}
#four .fourbox .img-memo2{
   position:relative;
	margin-top:-45px;
    margin-top/*\**/:-53px\9;
   *margin-top:-53px;
    _margin-top:-46px;
	margin-left:88px;
    margin-left/*\**/:64px\9;
   *margin-left:64px;
	text-align:center;
	color:#707070;
	font-size:12px;
	font-weight:bold;
    width:140px;
}
#four .fourbox .img-memo2 div{
   height:20px;
   text-align:left;
   line-height:20px;
}

#four .fourbox .img-memo2 div span{
   margin-right:10px;
}

#four .fourbox .img-memo2 div span a{
   color:#707070;
}

.popup-caption{
	position: absolute;
    z-index:9999;
    display:none;
    color:#7a7c7e;
    font-size:14px;
    font-weight:bold;
}
.popup-caption a{
   color:#7a7c7e;
   font-size:14px;
   font-weight:bold;
}

#sqico{
   position:fixed;right:22px;float:right;top:550px;width:118px; height:161px; 
   overflow:hidden;z-index:1009;
   _position:absolute;_right:expression(eval(document.documentElement.scrollLeft+10));
   _top:expression(eval(document.documentElement.scrollTop-120));
}

#uline{width:100%; background:#eee; height:2px;}

#bottomlink{width:100%; margin:0px auto; height:auto; background:#000000;height:auto !important;
height:200px; 
min-height:200px;}
#bottomlinkboxs{ width:1000px; margin:0px auto; height:auto;}
.btlinkbox{width:120px; margin-left:26px; float:left; margin-top:10px;}
.btlinkbox li{font-size:12px; text-align:left;color:#fff;line-height:24px;}
.btlinkbox a{ color:#fff; text-decoration:none;  }
.btlinkbox a:hover{ color:#fff;text-decoration:underline; }
.btlinkbox li.btlinkbox1{font-size:12px; line-height:26px;color:#CAA006; font-weight:bold;}
.nblink{width:364px; float:right; height:auto; margin-top:10px; line-height:22px; text-align:right; font-size:14px;}
.nblink a{ text-decoration:none;}
.nblink a:hover{}


#putbottomlink{height:56px; width:100%; background:url(/public/images/pud_bomtbg.jpg) no-repeat; margin:10px auto; text-align:left; padding-left:64px}
#putbottomlink a{width:96px; line-height:40px;text-align:center; display:block; float:left; padding-top:8px; font-size:12px; font-weight:bold; text-decoration:none; color:#CCC;}
#putbottomlink a:hover{color:#FFF;}
.cl_box a{background:#000;opacity:0; display:block; text-decoration:none;-moz-box-shadow:0px 0px 6px #666666;-webkit-box-shadow: 0px 0px 6px 1px #666666;box-shadow: 0px 0px 6px 1px #666666;filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=2);}

#copybox{line-height:20px; font-size:12px;font-weight:bold; text-align:center; margin-top:18px;margin-bottom: 12px;}
#copybox div{width:1000px; margin:0px auto;}
#copybox span{color:#8A8B8C;margin-right:6px; }
#copybox a{color:#8A8B8C;}
#copybox .cpengli{font-weight:normal;font-family: Verdana}

#copybox2{line-height:20px;font-family:"Microsoft YaHei"; font-size:14px;font-weight:bold; text-align:center; margin-top:18px;margin-bottom: 12px;}
#copybox2 div{width:1200px; margin:0px auto;}
#copybox2 span{color:#818888;}
#copybox2 div .seq{color:#717778;margin-left:5px;font-weight:bold; line-height:24px;height:24px;}
#copybox2 a{color:#818888;}
#copybox2 .cpengli{font-weight:bold;line-height:24px;}

.site-top {
   background:#000000;
   text-align:right;
   height:30px;
   line-height:30px;
}

.site-top .site-top-span {
	margin-right:210px;
}

.site-top .site-top-span .site{
	padding-right:5px;
	padding-left:5px;
	color:#ccc;
}

.sep-bar{
   background:url(../images/sep_bar.png) no-repeat center center;
}

.site-top .site-top-span .active{
	font-weight:bold;
	color:#fff;
}
.img-popup{
	display: none;
    position: absolute;
    z-index:1001;
}

#menu-360{
	width:100%;
    height:40px;
    min-height:40px;
    float:left;
    background:#141b25;
}
/* menu styles */
#menu-360 .jsddm
{	
	margin: 0 auto;
	padding: 0;
	width:1000px;
	text-align:center;
}

#menu-360 .jsddm li
{	
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#menu-360 .jsddm li a
{	
	display: block;
	background: #141b25;
	padding: 0px 12px;
	text-decoration: none;
	width: 70px;
	color: #fff;
	height:40px;
    line-height:40px;
    min-height:40px;
	white-space: nowrap;
	background: url("../images/arrowdown.png") no-repeat center right;
}

img{vertical-align:middle}

#menu-360 .jsddm li a:hover
{	
    background: #24313C;
    background: url("../images/arrowdown.png") no-repeat center right;
	
}
		
#menu-360 .jsddm li ul
{	
    margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	margin-top:1px;
	
}
		
#menu-360 .jsddm li ul li
{	
	float: none;
	display: inline;
	
}

#menu-360 .jsddm li ul li a
{	
	width: auto;
	background: #141b25;
	color: #fff;
	height:32px;
	min-height:32px;
    line-height:32px;
	filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);

}

#menu-360 .jsddm li ul li a .title-link
{	
	display:block;
	border-bottom:2px solid #ccc;
	font-weight:bold;
	height:30px;
    line-height:30px;
	min-height:30px;
}


#menu-360 .jsddm li ul li a:hover
{	
	background: #A3A3A3;
	filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.content360{
    /*width:905;*/
    width:1070px;
    background:#EFF4F8;
    margin:0 auto;
    text-align:center;
    height:auto !important;
    height:200px; /*假定最低高度是200px*/
    min-height:200px; 
    /*float:left;*/
    text-align: center;
}

.content360 .pagenav{
    height:42px;
    line-height:42px;
    min-height:42px;
    margin-bottom: 12px;
    float:left;
    width:1000px;
    margin-top:12px;
    margin-left:35px;
    border-bottom: 1px solid #ccc;
}
/*360材料*/
.content360 .box360-cailiao{
    margin:0 auto;
    padding:0;
    width:1070px;
    height:auto;
    text-align:center;
    float:left;
}
.content360 .box360-cailiao .box-body{
    width:1000px;
    float:left;
    overflow:hidden;
    position:relative;
}
.content360 .box360-cailiao .box-body .box-menu{
   float:left;
   margin-bottom:6px;
   
}

.content360 .box360-cailiao .box-body .box-menu ul{
   width:4098px;
   padding:0 0;
   
}
.content360 .box360-cailiao .box-body .box-menu ul li{
   display:block;
   list-style:none;
   float:left;
}

.content360 .box360-cailiao .box-body .box-menu ul li a{
   text-decoration:none;
   color:#FFFFFF;
   background:#FFA271;
   display:block;
   height:32px;
   min-height:32px;
   line-height:32px;
   border-left:1px solid #FFF;
   width:143px;
   
}

.content360 .box360-cailiao .box-body .box-menu ul li .current{
   background:#FF6A27;
}


.content360 .box360-cailiao .box-body .box-pics{
   float:left;
   margin:0;
   padding:0;
   width:1000px;
}

.content360 .box360-cailiao .box-body .box-pics .box-pic{
   margin:0;
   padding:0;
   text-align:center;
   float:left;
}
.content360 .box360-cailiao .box-body .box-pics .box-pic a{
   border:1px solid red;
   display:block;
   float:left;
   border:none;
   width:333px;
   height:187px;
   text-align:center;
}
.content360 .box360-cailiao .box-body .box-pics .box-pic a img{
   border:none;
   margin:0;
   padding:0;
   width:330px;
   height:183px;
}

.content360 .box360-cailiao .arrow{
   width:35px;
   height:41px;
   /*margin-top:12px;*/
   margin-top:-4px;
}

.dright{
   float:right;
}

.dleft{
   float:left;
}

.box360-cailiao .box-body .cailiao360-submenu{
	background:#F9C3A7;
    float:left;
    width:100%;
    margin-bottom:2px;
}
/*360优势*/
.content360 .box-youshi{
    margin:0 auto;
    padding:0;
    width:1000px;
    height:auto;
    
    text-align:center;
}

.content360 .box-youshi .box-yoush-container{
    border:none;
    float:left;
    margin-left:28px;
}

.content360 .box-youshi .box-yoush-container div{
    border:none;
    float:left;
}

.content360 .box-youshi .box-yoush-container div a{
    border:none;
}

.content360 .box-youshi .box-yoush-container div a img{
    border:none;
}
.img-popup{
    display: none;
    position: absolute;
    z-index:1001;
}
/*360套餐*/
.content360 .box360-taocan{
    margin:0 auto;
    padding:0;
    width:1000px;
    height:auto;
    text-align:center;
    clear:both;
    
}
.content360 .box360-taocan .box-body{
    width:1000px;
    overflow:hidden;
    position:relative;
    
}
.content360 .box360-taocan .box-body .box-menu{
   float:left;
   margin-bottom:12px;
   
}

.content360 .box360-taocan .box-body .box-menu ul{
   width:4098px;
   padding:0 0;
   
}
.content360 .box360-taocan .box-body .box-menu ul li{
   display:block;
   list-style:none;
   float:left;
}

.content360 .box360-taocan .box-body .box-menu ul li a{
   text-decoration:none;
   color:#FFFFFF;
   background:#FFA271;
   display:block;
   heigth:32px;
   min-height:32px;
   line-height:32px;
   border-left:1px solid #FFF;
   width:167px;
   
}

.content360 .box360-taocan .box-body .box-menu ul li .current{
   background:#FF6A27;
}

.content360 .box360-taocan .box-body .pic-display{
    float:left;
    width:1000px;
    height:500px;
}

.content360 .box360-taocan .box-body .pic-display img{
    float:left;
    width:1000px;
    height:500px;
    border:none;
}

.content360 .box360-taocan .box-body .pics-list{
    float:left;
    margin-top:8px;
    height:140px;
    width:1000px;
}

.content360 .box360-taocan .box-body .pics-list a{
    float:left;
    width:250px;
    height:140px;
}

.content360 .box360-taocan .box-body .pics-list a img{
    float:left;
    width:243px;
    height:140px;
    border:none;
}

#mask_caption{
    background: url("../images/360taocan-topbar.png") no-repeat scroll left;
    float:left;
    width:1000px;
    height:100px;
    position: relative;
    margin-top:-100px;
    overflow: hidden;
    color:#fff;
}

#mask_caption .title{
    float:left;
    width:180px;
    height:100px;
    line-height: 100px;
    min-height: 100px;
}

#mask_caption .title div{
    color:#fff;
    font-weight: bolder;
    font-size:32px;
    font-family: "Microsoft YaHei",LiSu,STHeiti;
    text-align: center;
    border-right: 3px solid #8C0C0C;
    width:180px;
    height:70px;
    line-height: 70px;
    min-height: 70px;
    margin-top:15px;
    word-wrap: break-word; 
    word-break: normal;
}
#mask_caption .text{
    height:80px;
    margin-top:10px;
    padding-left:12px;
    text-align: left;
    font-weight:bold;
    font-size:12px;
    float:right;
    width:535px;
    line-height: 20px;
    font-family: "Microsoft YaHei",LiSu,STHeiti;
}

#mask_caption .text div{
    float:left;
    min-width:178px;
    white-space:nowrap; 
}

/*团队设计*/
.content360 .box-design-tuandui{
    margin:0 auto;
    padding:0;
    width:960px;
    height:auto;
    
    text-align:center;
}

.content360 .box-design-tuandui .title{
    color:#A2A2A4;
    font-size:16px;
    font-weight:bolder;
    height:28px;
    line-height:28px;
    text-align:left;
    font-family: SimHei;
    padding-left:6px;
}

.content360 .box-design-tuandui .group{
	width:960px;float:left;
}
.content360 .box-design-tuandui .group-detail{
	width:960px;margin-bottom:20px;height:260px;
}

.content360 .box-design-tuandui .group-detail .block{
	float:left;
	width:190px;
    text-align:center;
}

.content360 .box-design-tuandui .group-detail .block .infos{
    margin-top:4px;
}

.content360 .box-design-tuandui .group-detail .block .infos .info{
	height:18px;
    line-height:18px;
    color:#A2A2A4;
    font-weight:bold;
}

.content360 .box-design-tuandui .profiles{
	margin-top:10px;float:left;width:100%;height:260px;background:#D2DADD;
    text-align:left;
}

.content360 .box-design-tuandui .profiles .photo{
	float:left;margin-top:15px;margin-left:15px;margin-bottom:15px;
}

.content360 .box-design-tuandui .profiles .profile{
	margin-left:14px;
    float:left;
    margin-top:15px;
    width:580px;
}

.content360 .box-design-tuandui .profiles .profile .title{
	font-size:24px;
    color:#848484;
    font-weight:bold;
    padding-left:0px;
    line-height:28px;
    height:28px;
}

.content360 .box-design-tuandui .profiles .profile .item{
	color:#7C7F81;
    font-size:13px;
    font-weight:bold;
    line-height:24px;
    height:auto;
    white-space:pre-wrap;
    word-break:break-all;
}

.content360 .box-design-tuandui .box-body{
    width:960px;
    float:left;
    overflow:hidden;
    position:relative;
    margin-top:12px;
}

.content360 .box-design-tuandui .box-body .box-pics{
   float:left;
   margin:0;
   padding:0;
   width:960px;
}

.content360 .box-design-tuandui .box-body .box-pics .box-pic{
   margin:0;
   padding:0;
   text-align:center;
   float:left;
}
.content360 .box-design-tuandui .box-body .box-pics .box-pic a{
   border:1px solid red;
   display:block;
   float:left;
   border:none;
   width:320px;
   height:197px;
   text-align:center;
}
.content360 .box-design-tuandui .box-body .box-pics .box-pic a img{
   border:none;
   margin:0;
   padding:0;
   width:315px;
   height:192px;
}

#yuding-tab{
	float: left;
    width:800px;
}

#yuding-tab tr{
	height:42px;
}

#yuding-tab tr .head{
	text-align:right;
    width:82px;
}

#yuding-tab tr .tail{
	text-align:left;
}

#yuding-tab tr td input{
	height:22px;
}

/*设计风格*/
.content360 .box-design-style{
    margin:0 auto;
    padding:0;
    width:980px;
    height:auto;
    
    text-align:center;
}

.content360 .box-design-style .title{
    color:#A2A2A4;
    font-size:16px;
    font-weight:bolder;
    height:28px;
    line-height:28px;
    text-align:left;
    font-family: SimHei;
    padding-left:6px;
}

.content360 .box-design-style .selected-items{
	float:left;
    margin-top:12px;
}
.content360 .box-design-style .selected-items .selected-item{
	width:980px;
	float:left;
    height:40px;
    line-height:40px;
    text-align:left;
    border-bottom:1px solid #dedede;
    color:#6E6F71;
    font-size:14px;
    font-weight:bold;
    padding-left:10px;
}

.content360 .box-design-style .selected-items .selected-item a{
	color:#6E6F71;
    margin-right:12px;
}




.content360 .box-design-style .box-body{
    width:980px;
    float:left;
    overflow:hidden;
    position:relative;
    margin-top:22px;
}

.content360 .box-design-style .box-body .box-pics{
   float:left;
   margin:0;
   padding:0;
   width:980px;
}

.content360 .box-design-style .box-body .box-pics .box-pic{
   margin:0;
   padding:0;
   text-align:center;
   float:left;
}
.content360 .box-design-style .box-body .box-pics .box-pic .box-item
{
   margin:0;
   padding:0;
   text-align:center;
   float:left;
   height:317px;
}
.content360 .box-design-style .box-body .box-pics .box-pic .box-item a{
   border:1px solid red;
   display:block;
   float:left;
   border:none;
   width:320px;
   height:227px;
   text-align:center;
}
.content360 .box-design-style .box-body .box-pics .box-pic .box-item a img{
   border:none;
   margin:0;
   padding:0;
   width:315px;
   height:222px;
}

.content360 .box-design-style .box-body .box-pics .box-pic .box-item .infos{
   border:none;
   margin:0;
   padding:0;
   width:315px;
   height:62px;
   float:left;
   clear:left;
   font-size:14px;
   text-align:left;
   background:#31363A;
   color:#DDD;
   margin-left:2px;
}
/*四个免费*/
.content360 .box-fuwu-sige{
   width:905px;
   height:auto;
   text-align: center;
   margin:0px auto;
}

.content360 .box-fuwu-sige .box-fuwu-sige-container{
   width:905px;
   height:auto;
   text-align: center;

}

.content360 .box-fuwu-sige .box-fuwu-sige-container div{
   margin-top:42px;
   float:left;
   margin-left:50px;
   margin-bottom: 140px;
}
/*家装一站*/
.content360 .box-fuwu-onesite{
    color:#555;
    line-height:1.8em;
    text-align:left;
    width:980px;
    margin-left:45px;
    float:left;
    margin-bottom: 42px;
}
.content360 .box-yuding{
    color:#555;
    line-height:2.4em;
    text-align:left;
    width:805px;
    margin-left:55px;
    float:left;
    margin-bottom: 42px; 
    font-size:14px;
}
.content360 .box-yuding .yuding-tab{
    margin-top:22px;
}
.content360 .box-yuding .yuding-tab .head{
    text-align: right;
}

.content360 .box-lookus-news{
	color:#555;
    line-height:1.8em;
    text-align:left;
    width:805px;
    margin-left:55px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
}

.content360 .box-lookus-news table{
    width:100%;
}

.content360 .box-lookus-news table tr{
    line-height:2.2em;
    font-size:13px;  
}

.content360 .box-lookus-news table td{
    line-height:2.2em;
    font-size:13px;
    padding-right:24px;
    text-align:left;
}

.content360 .box-lookus-news table td a:hover{
   text-decoration: underline;
}

.content360 .box-deco-trace{
	color:#555;
    line-height:1.8em;
    text-align:left;
    width:815px;
    margin-left:45px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
}

.content360 .box-deco-trace .img-text{
	color:#666;
    line-height:1.8em;
    text-align:left;
    width:580px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
    padding-right:12px;
    border-right:2px solid #d2d2d2;
}

.content360 .box-deco-trace .img-text .intro-img{
	float:left;
    margin-bottom:6px;
}

.content360 .box-deco-trace .img-text .intro-txt{
	font-size:14px;
    line-height:1.8em;
}

.content360 .box-deco-trace .login-div{
	color:#666;
    line-height:1.8em;
    text-align:left;
    width:200px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
    padding-left:12px;
}

.content360 .box-deco-trace .login-div table tr td{
	line-height:38px;
    height:38px;
    font-size:13px;
    color:#666;
}

.content360 .box-deco-trace .login-div table tr td input{
	border:1px solid #ccc;
}

.content360 .box-deco-trace .img-list{
	color:#666;
    line-height:1.8em;
    text-align:left;
    width:585px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
    padding-right:12px;
    border-right:2px solid #d2d2d2;
}

.content360 .box-deco-trace .img-list .img-line{
    float:left;
    margin-bottom:12px;
}

.content360 .box-deco-trace .img-list .img-line .img-date{
	font-size:14px;
    font-weight:bold;
    color:#888;
    margin-bottom:6px;
}

.content360 .box-deco-trace .img-list .img-line .img-date a{
   float:none;
   background: transparent;
   color:#888;
}

.content360 .box-deco-trace .img-list .img-line .img-date a:hover{
   text-decoration: underline;
}

.content360 .box-deco-trace .img-list .img-line a{
	border:0px;
    background: #878787;
    float:left;
    height:78px;
    width:112px;
    margin-right:5px;
}


.content360 .box-deco-trace .img-list .img-line a img{
	height:78px;
    width:112px;
}

.content360 .box-deco-trace .img-list .page{
	text-align:center;
    font-size:13px;
    margin-top:14px;
    float:left;
    width:580px;
}

.content360 .box-deco-trace .img-list .page a:hover{
	text-decoration: underline;
}

.content360 .box-deco-trace .img-list .page span{
    margin-right:6px;
    font-size:13px;
}
.content360 .box-deco-trace .img-list .page a{
	margin-right:6px;
    font-size:13px;
}

.content360 .box-deco-trace .img-list .page .current{
	background:#ee0;
}

.content360 .box-deco-trace .img-detail{
	color:#666;
    line-height:1.8em;
    text-align:left;
    width:585px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
    padding-right:12px;
    border-right:2px solid #d2d2d2;
}

.content360 .box-deco-trace .img-detail a{
	border:0px;
    background: #878787;
    float:left;
    height:120px;
    width:185px;
    margin-right:6px;
    margin-bottom:6px;
}

.content360 .box-deco-trace .img-detail a img{
	height:120px;
    width:185px;
}

/*工程保障*/
.content360 .box-project-container{
	margin-bottom:44px;
}
.content360 .boxpj-gongcheng{
    margin:0 auto;
    padding:0;
    width:1070px;
    height:auto;
    text-align:center;
    float:left;
}
.content360 .boxpj-gongcheng .box-body{
    width:1000px;
    float:left;
    overflow:hidden;
    position:relative;
}
.content360 .boxpj-gongcheng .box-body .box-menu{
   float:left;
   margin-bottom:4px;
   margin-top:10px;
   
}

.content360 .boxpj-gongcheng .box-body .box-menu ul{
   width:4098px;
   padding:0 0;
   
}
.content360 .boxpj-gongcheng .box-body .box-menu ul li{
   display:block;
   list-style:none;
   float:left;
}

.content360 .boxpj-gongcheng .box-body .box-menu ul li a{
   text-decoration:none;
   color:#FFFFFF;
   background:#5fc2ef;
   display:block;
   height:32px;
   min-height:32px;
   line-height:32px;
   border-left:1px solid #FFF;
   width:166px;
   
}

.content360 .boxpj-gongcheng .box-body .box-menu ul li .current{
   background:#0075c2;
}

.content360 .boxpj-gongcheng .box-body .box-sep-div{
   float:left;
   width:1000px;
   height:32px;
   background: #cfcfcf;
   margin-bottom:4px;
}

.content360 .boxpj-gongcheng .box-body .box-pics{
   float:left;
   margin:0;
   padding:0;
   width:1000px;
}

.content360 .boxpj-gongchengo .box-body .box-pics .box-pic{
   margin:0;
   padding:0;
   text-align:center;
   float:left;
}
.content360 .boxpj-gongcheng .box-body .box-pics .box-pic a{
   border:1px solid red;
   display:block;
   float:left;
   border:none;
   width:333px;
   height:227px;
   text-align:center;
}
.content360 .boxpj-gongcheng .box-body .box-pics .box-pic a img{
   border:none;
   margin:0;
   padding:0;
   width:329px;
   height:222px;
}

.content360 .boxpj-gongcheng .arrow{
   width:35px;
   height:41px;
   /*margin-top:12px;*/
   margin-top:6px;
}

.dright{
   float:right;
}

.dleft{
   float:left;
}


/*材料保障*/
.content360 .boxpj-cailiao{
    margin:0 auto;
    padding:0;
    width:1070px;
    height:auto;
    text-align:center;
    float:left;
}
.content360 .boxpj-cailiao .box-body{
    width:1000px;
    float:left;
    overflow:hidden;
    position:relative;
}
.content360 .boxpj-cailiao .box-body .box-menu{
   float:left;
   margin-bottom:4px;
   margin-top:10px;
   
}

.content360 .boxpj-cailiao .box-body .box-menu ul{
   width:4098px;
   padding:0 0;
   
}
.content360 .boxpj-cailiao .box-body .box-menu ul li{
   display:block;
   list-style:none;
   float:left;
}

.content360 .boxpj-cailiao .box-body .box-menu ul li a{
   text-decoration:none;
   color:#FFFFFF;
   background:#5fc2ef;
   display:block;
   height:32px;
   min-height:32px;
   line-height:32px;
   border-left:1px solid #FFF;
   width:125px;
   
}

.content360 .boxpj-cailiao .box-body .box-menu ul li .current{
   background:#0075c2;
}

.content360 .boxpj-cailiao .box-body .box-sep-div{
   float:left;
   width:1000px;
   height:32px;
   background: #cfcfcf;
   margin-bottom:4px;
}

.content360 .boxpj-cailiao .box-body .box-pics{
   float:left;
   margin:0;
   padding:0;
   width:1000px;
}

.content360 .boxpj-cailiaoo .box-body .box-pics .box-pic{
   margin:0;
   padding:0;
   text-align:center;
   float:left;
}
.content360 .boxpj-cailiao .box-body .box-pics .box-pic a{
   border:1px solid red;
   display:block;
   float:left;
   border:none;
   width:333px;
   height:177px;
   text-align:center;
}
.content360 .boxpj-cailiao .box-body .box-pics .box-pic a img{
   border:none;
   margin:0;
   padding:0;
   width:328px;
   height:173px;
}

.content360 .boxpj-cailiao .arrow{
   width:35px;
   height:41px;
   /*margin-top:12px;*/
   margin-top:6px;
}

.dright{
   float:right;
}

.dleft{
   float:left;
}

.selected{
	background:#ebb;
    padding:1px;
}
/*
留言板
*/
.content360 .box-lookus-msgboard{
    color:#444;
    line-height:1.8em;
    text-align:left;
    width:980px;
    margin-left:45px;
    float:left;
    margin-bottom: 42px;
    font-family:"Microsoft YaHei";
    font-size:13px;
}

.content360 .leavemsg-form{
	background: #fafafa;
	margin:0px auto;
	width:800px;
	border:1px ridge #ddd;
	padding:12px 12px;
}

.content360 .leavemsg-form tr td{
	height:36px;
    line-height:36px;
}
.content360 .leavemsg-form tr td input{
	border: 1px solid #aaa;height:24px;
}

/*家装课堂*/
.content360 .box-lookus-ketang{
   width:1000px;
   height:auto;
   text-align: center;
   margin:0px auto;
}

.content360 .box-lookus-ketang .box-lookus-ketang-container{
   width:1000px;
   height:auto;
   text-align: center;

}

.content360 .box-lookus-ketang .box-lookus-ketang-container div{
   margin-top:6px;
   float:left;
   margin-left:12px;
   margin-bottom: 6px;
}

/**
 * bottom icon and a blank bar
 */
.foot-bottom-icon-container{
	height:240px;
    width:976px;
    text-align:center;
    padding-left:25px;
    margin:0 auto;
    margin-top:12px;
    border-top:1px solid #bbb;
}
.foot-bottom-icon-container a{
    margin-right:28px; 
}
.foot-bottom-icon-container a img{
	border:0px;
    width:160px;
    margin-top:30px;
}
.foot-blan-bar
{
	background:#222;width:100%;height:40px;
}

/*分页*/
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px;margin-left:5px}
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
#pages span { display:inline-block; height:22px;padding:0 10px; line-height:22px; background-color:#9cf; border:1px solid #e3e3e3; color:#000; text-align:center; margin-left:5px}
/*#pages span {background-color:#9cf;border-color:#618d01;}*/






